@use "../../../../node_modules/include-media/dist/include-media" as *;
@use "../../../assets/scss/breakpoints" as *;

.characters-list-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }

  &__main-content {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sidebar {
    flex-basis: 250px;
    flex-shrink: 0;
    background: white;
  }

  &__characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    gap: 30px;

    @include media(">=xl") {
      grid-template-columns: repeat(auto-fit, 250px);
    }
  }
}
