@use "../../../../node_modules/include-media/dist/include-media" as *;
@use "../../../assets/scss/breakpoints" as *;

.characters-list-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }

  &__main-content {
    flex-basis: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__sidebar {
    flex-basis: 300px;
    flex-shrink: 0;

    @include media("<lg") {
      flex-basis: 250px;
    }

    @include media("<md") {
      flex-basis: 200px;
      font-size: 0.9rem;
    }
  }

  &__characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;

    @include media("<lg") {
      grid-template-columns: repeat(auto-fit, 200px);
    }
  }
}
