.index-page {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  &__main {
    display: flex;
    align-items: stretch;
    flex-grow: 1;
  }

  &__main-content {
    margin: 0 auto;
    flex-basis: 80%;
  }

  &__sidebar {
    flex-basis: 300px;
  }

  &__characters {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    gap: 30px;
  }
}
