.index-page {
  &__main {
    display: flex;
    align-items: stretch;
  }

  &__sidebar {
    flex-basis: 300px;
  }

  &__characters {
    margin: 0 auto;
    flex-basis: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    justify-content: center;
    gap: 30px;
  }
}
