@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

body {
  min-height: 100vh;
}

input[type="checkbox"],
input[type="checkbox"] + label {
  cursor: pointer;
  user-select: none;
}

.overflow-sm-scroll {
  @include media-breakpoint-up(sm) {
    overflow: scroll !important;
  }
}

.overflow-md-scroll {
  @include media-breakpoint-up(md) {
    overflow: scroll !important;
  }
}

.overflow-lg-scroll {
  @include media-breakpoint-up(lg) {
    overflow: scroll !important;
  }
}

.overflow-xl-scroll {
  @include media-breakpoint-up(xl) {
    overflow: scroll !important;
  }
}

.overflow-xxl-scroll {
  @include media-breakpoint-up(xxl) {
    overflow: scroll !important;
  }
}
