@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.characters-list-page-card {
  flex-direction: row;

  @include media-breakpoint-up(md) {
    flex-direction: column;
  }

  &__title {
    font-weight: 600;
  }

  &__title a:not(:hover) {
    text-decoration: none;
  }

  &__title a {
    color: var(--bs-card-color);
  }

  &__body {
    padding: $spacer * 0.25 $spacer * 1.0;

    @include media-breakpoint-up(md) {
      padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x) !important;
    }
  }

  &__avatar {
    height: 100px;
    width: 100px;

    @include media-breakpoint-up(md) {
      height: 100%;
      width:  100%;
    }
  }

  p {
    margin: 0;
  }
}
