@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.characters-list-page-card {
  &__title a:not(:hover) {
    text-decoration: none;
  }

  &__title a {
    color: var(--bs-card-color);
  }

  &__avatar {
    height: calc(200px - var(--bs-card-border-width));
    width: calc(200px - var(--bs-card-border-width));

    @include media-breakpoint-up(xl) {
      height: calc(250px - var(--bs-card-border-width));
      width: calc(250px - var(--bs-card-border-width));
    }
  }

  p {
    margin: 0;
  }
}
