@import 'node_modules/bootstrap/scss/functions';
@import 'node_modules/bootstrap/scss/variables';
@import 'node_modules/bootstrap/scss/mixins';

.page-header {
  height: 60px;
  padding: 10px;

  &__img-a {
    margin: 0 auto;
    display: block;
    width: min-content;

    @include media-breakpoint-up(md) {
      margin: 0;
    }
  }

  &__img {
    height: 40px;
    display: inline-block;
  }
}
